section
  section
    h2(class='yellow') Gustavo Oshiro
    p(class='description') 22 anos, Paulista, Sansei
    div.fragment 
      img(src='img/music.png')
    div.fragment(class='col-3') 
      img(src='img/kungFu.png')
    div.fragment(class='col-3') 
      img(src='img/academia.png')
    div.fragment(class='col-3') 
      img(src='img/livros.png')
    div.fragment(class='col-3') 
      img(src='img/code.png')
    div.fragment(class='col-3') 
      img(src='img/missaoCena.png')