section
  section
    h3(class='yellow') Skills     
  section.background(data-background-image='img/background/port.jpg')
    h3(class='yellow') Criativo
    div(class='text-skill') 
      p Photoshop | Illustrator | XD | Balsamiq
      p Maya | ZBrush 
      p Design Thinking
  section.background(data-background-image='img/background/log.jpg')
    h3(class='yellow') Lógico
    div(class='text-skill') 
      p HTML | XAML | XML
      p Css | Sass | Less | Stylus
      p Javascript | ES6 | Angular | React
      p Jquery | Lodash | Greensock
      p Gulp | Grunt
      p C# | Java | C | Php | Node
      p MongoDB | SQL | Mysql