section
  section
    h2(class='yellow') Gustavo Oshiro
    p(class='description') 22 anos, Front-End Engineer e UX|UI Designer
    br
    div.fragment(class='img-list') 
      img(src='img/icons/music.png')
    div.fragment(class='img-list')
      img(src='img/icons/kungFu.png')
    div.fragment(class='img-list')
      img(src='img/icons/academia.png')
    div.fragment(class='img-list')
      img(src='img/icons/livros.png')
    div.fragment(class='img-list')
      img(src='img/icons/code.png')
    div.fragment(class='img-list')
      img(src='img/icons/missaoCena.png')