section
    h3(class='yellow') Formação Acadêmica
    div.fragment(class='img-list') 
      img(src='img/formacao/saga.jpg')
      p.img-legend 2014
    div.fragment(class='img-list') 
      img(src='img/formacao/fiap.jpg')
      p.img-legend 2017
    div.fragment(class='img-list') 
      img(src='img/formacao/alura.png')
      p.img-legend Atual
    div.fragment(class='img-list') 
      img(src='img/formacao/udemy.png')
      p.img-legend Atual