section.white
  h3(class='purple') Por que Netshoes?
  p.fragment(class='purple') #GenteValorizada
  p.fragment(class='purple') #DonoDoNegocio
  p.fragment(class='purple') #FocoNoResultado
  p.fragment(class='purple') #Paixão
  p.fragment(class='purple') #Incasável
    