section
  h3(class='yellow') Experiência Profissional
  div.fragment(class='img-list') 
    img(src='img/experiencia/bureaus.jpg')
    p.img-legend Web-Designer - 2016
  div.fragment(class='img-list') 
    img(src='img/formacao/fiap.jpg')
    p.img-legend Front-End e Web-Designer - 2017
  div.fragment(class='img-list') 
    img(src='img/experiencia/fcamara.png')
    p.img-legend Front-End e Head UX|UI - 2017
  div.fragment(class='img-list') 
    img(src='img/experiencia/btime.jpg')
    p.img-legend Front-End e UX|UI Designer - 2018