section
  section
    h3(class='yellow') Experiência Profissional
    div.fragment(class='img-list') 
      img(src='img/experiencia/bureaus.jpg')
      p.img-legend Web-Designer - 2016
    div.fragment(class='img-list') 
      img(src='img/formacao/fiap.jpg')
      p.img-legend Front-End e Web-Designer - 2017
    div.fragment(class='img-list') 
      img(src='img/experiencia/fcamara.png')
      p.img-legend Front-End e Head UX|UI - 2017
    div.fragment(class='img-list') 
      img(src='img/experiencia/btime.jpg')
      p.img-legend Front-End e UX|UI Designer - 2018

  section
    h3(class='yellow m-b-50') Experiência Profissional
    div(class='img-pro v-a-top') 
      img(src='img/experiencia/bureaus.jpg')
    div(class='text-pro m-l-50') 
      h6 Funções
      ul
        li Criação de Wireframes (Balsamiq, PSD e AI)
        li Criação de WebSites (HTML, CSS e Javascript)
        li Criação e Manutenção do Sistema
        li Documentação Funcional
        li Método Agil (Scrum com equipes de Front, Back e QA)
        li Reuniões semanais para discussão de processos e tomadas de decisão
    div(class='text-pro v-a-top') 
      h6 Skills
      ul
        li Photoshop, Illustrator e Balsamiq
        li Html, Xaml e Css
        li Javascript
        li C# e Java
        li Fts

  section
    h3(class='yellow m-b-50') Experiência Profissional
    div(class='img-pro v-a-top') 
      img(src='img/formacao/fiap.jpg')
    div(class='text-pro m-l-50') 
      h6 Funções
      ul
        li Criação de Wireframes
        li Diagramação de conteúdo
        li Método Agil
        li Reuniões semanais para discussão de processos e tomadas de decisão
    div(class='text-pro v-a-top') 
      h6 Skills
      ul
        li Photoshop, Illustrator e XD
        li Html, Css, Sass
        li Javascript e Angular 4
        li Greensock

  section
    h3(class='yellow m-b-50') Experiência Profissional
    div(class='img-pro v-a-top') 
      img(src='img/experiencia/fcamara.png')
    div(class='text-pro m-l-50') 
      h6 Funções
      ul
        li Líder da área de UX e Front-end
        li Prototipação
        li Teste A B
        li TDD
        li Criação do Sistema
        li Reuniões semanais para discussão de processos e tomadas de decisão
    div(class='text-pro v-a-top') 
      h6 Skills
      ul
        li Photoshop, Illustrator e XD
        li Html, CSS e Sass
        li Javascript, Angular 5 e React
        li Jasmine
        li Google Analytics
        li Jira

  section
    h3(class='yellow m-b-50') Experiência Profissional
    div(class='img-pro v-a-top') 
      img(src='img/experiencia/btime.jpg')
    div(class='text-pro m-l-50') 
      h6 Funções
      ul
        li Criação de WebSites
        li Criação do Sistema
        li Documentação Funcional
        li Método Agil (Scrum com equipes de Front e Back)
        li Líder da área do Front
        li Reuniões semanais para discussão de processos e tomadas de decisão
    div(class='text-pro v-a-top') 
      h6 Skills
      ul
        li Html, Css, Sass, Stylus
        li Javascript e Angular 5

        
        