head
  meta(charset="UTF-8")
  title Oshiro
  meta(name="author" content="Gustavo Oshiro")
  meta(property="og:image" content="img/favico.ico")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
