@import "vendor/reveal"
@import "highlight-themes/monokai-sublime"

.yellow
  color #fdcb54 !important
.purple
  color #5a2d82 !important

.bg-white
  opacity: 1 !important

.img-list
  display: inline-block
  margin: 2rem 3rem !important

.img-legend
  width: 130px !important
  font-size: 16px !important
  font-style: italic !important

.w-50
  width: 20% !important

.img-pro
    max-width: 180px !important
    max-height: 180px !important
    display: inline-block

.text-skill
  p
    font-size: 20px;
    line-height: 1 !important;
    margin: 20px 0 !important;

.text-pro
  display: inline-block
  text-align: left
  width: 40% !important
  h6
    font-size: 30px !important
  ul
    font-size: 15px;
    line-height: 2;

.v-a-top
  vertical-align: top !important

.m-l-50
  margin-left: 50px !important

.m-b-50
  margin-bottom: 50px !important

.background-sucesso
  max-width: 120% !important
  margin: -42rem -14rem!important
  max-height: 120% !important
  width: 120% 
  height: 120%

.background-insucesso
  opacity: 0.2 !important